
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color:white;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

ol {
    margin-left: 20px;
}

img {
    margin-right: 10px;
    border-radius: 50%;
    float: right;
}

b {
    color: #555;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
